@using Vektorel.Web.KitapBankosuApp.Models
@model YazarViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Yazar Yönetimi</h2>
<button class="btn btn-success" data-toggle="modal" data-target="#mdlYazarEKle">Yazar Ekle</button>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Doğum Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Yazarlar)
        {
            <tr>
                <td>@item.YazarAd</td>
                <td>@item.YazarSoyad</td>
                <td>@item.DogumTarih</td>
                <td>
                    <a href="/Admin/Yazar/YazarDetay/@item.YazarId" class="btn btn-primary">Detaylar</a>&nbsp;
                    <a href="/Admin/Yazar/YazarSil/@item.YazarId" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="mdlYazarEKle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action="/Admin/Yazar/YazarEkle" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adı</label>
                            <input type="text" class="form-control" name="YazarAd">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Soyadı</label>
                            <input type="text" class="form-control" name="YazarSoyad">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Doğum Tarihi</label>
                            <input type="date" class="form-control" name="DogumTarih">
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function YazarEkle() {
            $.ajax({
                url: "/Admin/Yazar/YazarEkle",
                type: "POST",
                data: {
                    Ad: $("#Yazar_Ad").val();,
                    DogumTarih: $("#Yazar_DogumTarih").val()
                },
                success: function () {
                    alert("Ekleme Başarılı");
                }
            })
        }
    </script>
    }

